.homepage-container {
  /* border: 1px solid red; */
  margin-left: 85px;
  margin-right: 85px;
  padding: 8px;
  margin-top: 50px;
  display: block;
  font-size: 16px;
  /* max-width: 100%; */
  /* width: 100%; */
  /* background-color: blueviolet; */
}

.homepage-container .homepage-section-one {
  display: flex;
  justify-content: flex-start;
  /* border: 1px solid rebeccapurple; */
  width: 100%;
}

.homepage-container .homepage-section-one .section-one-item-one {
  /* border: 1px solid blue; */
  width: 50%;
}

.section-one-item-one .section-one-item-one-header {
  font-size: 1.9em;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 1.2;
  text-transform: capitalize;
  text-align: justify;
}

.section-three-item-one .section-three-item-one-header {
  font-size: 1.9em !important;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 1.2;
  text-transform: capitalize;
  text-align: justify;
}

.section-five-item-one-header {
  font-size: 1.9em !important;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 1.2;
  text-transform: capitalize;
  text-align: justify;
}

.section-one-item-one .section-one-item-one-content {
  margin-top: 40px;
  font-weight: 500;
  font-size: 1.3em;
  color: #444;
  line-height: 1.6;
  text-align: left;
  /* padding: 14px; */
}

.homepage-container .homepage-section-one .section-one-item-two {
  /* border: 1px solid yellow; */
  width: 50%;
}

.bulb-holder {
  position: relative;
  left: 10%;
}

/**homepage section two here*/
.homepage-container .homepage-section-two {
  display: flex;
  margin-top: 30px;
  justify-content: flex-start;
  /* border: 1px solid rebeccapurple; */
  width: 100%;
}

.homepage-container .homepage-section-two .section-two-item-one {
  /* border: 1px solid blue; */
  width: 50%;
}

.homepage-container .homepage-section-two .section-two-item-two {
  /* border: 1px solid yellow; */
  width: 50%;
}

.section-two-item-two {
  word-break: normal;
}

.section-two-item-two > div {
  /* margin-top: 40px; */
  font-weight: 500;
  font-size: 1.3em;
  color: #444;
  line-height: 1.6;
  text-align: left;
  left: 1%;
  position: relative;
}

.idea-button {
  background: #000;
  outline: none;
  border: 0;
  cursor: pointer;
  /* width: 45%; */
  padding: 22px 75px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fdfdfd;
  border-radius: 9px;
  word-spacing: 0.5px;
  position: relative;
  top: 7px;
}

.idea-button:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.company-button {
  background: #000;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  /* width: 35%; */
  padding: 22px 75px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fdfdfd;
  border-radius: 9px;
  word-spacing: 0.5px;
}

.company-button:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/** HOmepage section three */

/**homepage section two here*/
.homepage-container .homepage-section-three {
  display: flex;
  margin-top: 80px;
  justify-content: flex-start;
  /* border: 1px solid rebeccapurple; */
  width: 100%;
}

.homepage-container .homepage-section-three .section-three-item-one {
  /* border: 1px solid blue; */
  width: 50%;
}

.section-three-item-one .section-three-item-one-header {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.1px;
  line-height: 1.2;
  text-align: left;
}

.section-three-item-one .section-three-item-one-content {
  margin-top: 40px;
  font-weight: 500;
  font-size: 1.3em;
  color: #444;
  line-height: 1.6;
  text-align: left;
  /* padding: 14px; */
}

/* Section FOur here */

.homepage-section-four {
  /* border: 1px solid green; */
  margin-top: 60px;
}

.homepage-section-four .section-four-item-one {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.section-four-item-one .black-card {
  /* border: 1px solid pink; */
  width: 22%;
  margin-right: 1%;
  border-radius: 18%;
  height: 250px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  /* text-align: center; */
  align-items: center;
  /* flex-grow: ; */
}

.bg-color-black {
  background: #000;
  color: #fff;
  border: 2px solid transparent;
}
.bg-color-black:hover {
  background: #fff;
  color: #000;
  border: 2px solid #000;
  transition: 1s;
}

.bg-color-white {
  background: #fff;
  color: #000;
  border: 2px solid #000;
}
.bg-color-white:hover {
  background: #000;
  color: #fff;
  border: 2px solid transparent;
  transition: 1s;
}

/* 
=====================================================
Section Five
=====================================================
*/
.homepage-container .homepage-section-five {
  display: flex;
  justify-content: flex-start;
  /* border: 1px solid rebeccapurple; */
  width: 100%;
  margin-top: 30px;
}

.homepage-container .homepage-section-five .section-five-item-one {
  /* border: 1px solid blue; */
  width: 50%;
}

.section-five-item-one .section-five-item-one-header {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 1.2;
  text-align: justify;
}

.section-five-item-one .section-five-item-one-content {
  margin-top: 10px;
  font-weight: 500;
  font-size: 1.3em;
  color: #444;
  line-height: 1.6;
  text-align: left;
  /* padding: 14px; */
}

.homepage-container .homepage-section-five .section-five-item-two {
  /* border: 1px solid yellow; */
  width: 50%;
}

.section-five-button {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: 9px;
}

/* Section 6 */
.homepage-container .homepage-section-six {
  /* display: flex; */
  /* justify-content: flex-start; */
  /* flex-direction: column; */
  /* border: 1px solid rebeccapurple; */
  width: 100%;
  margin-top: 60px;
}

.project-card-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  /* padding: 20px; */
  justify-content: center;
  align-items: center;
}

.project-card-container .project-card {
  width: 40%;
  /* border: 1px solid #000; */
  margin-right: 24px;
  min-height: 400px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  text-align: justify;
  margin-bottom: 30px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
}

.project-card .project-image {
  /* border: 1px solid blue; */
  /* margin-top: 30px; */
  height: 200px;
  max-width: 100%;
  min-width: 100%;
  border-radius: 9px;
  background-image: url("../../assets/green-track.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  cursor: pointer;
}

.project-card .project-image:hover {
  opacity: 1;
}

.project-name {
  border: 1px solid #000;
  margin-top: 40px;
  font-size: 13px;
  letter-spacing: 0.1px;
  border-radius: 7px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  text-transform: uppercase;
  cursor: pointer;
}

.project-name-background-white {
  background: #000;
  color: #fff;
}

.project-name-background-black {
  background: #fff;
  color: #000;
}
.project-name-background-white:hover {
  background: #fff;
  color: #000;
}

.project-name-background-black:hover {
  background: #000;
  color: #fff;
}
.project-content {
  /* border: 1px solid green; */
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.8;
  color: #444;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 767px) {
  .homepage-container {
    /* border: 1px solid red; */
    margin-left: 25px;
    margin-right: 25px;
    /* padding: 8px; */
    margin-top: 20px;
  }
  .homepage-container .homepage-section-one {
    display: block;
    /* justify-content: flex-start; */
  }

  .homepage-container .homepage-section-one .section-one-item-one {
    /* border: 1px solid blue; */
    width: 100%;
  }
  .homepage-container .homepage-section-one .section-one-item-two {
    /* border: 1px solid yellow; */
    margin-top: 40px;
    width: 100%;
  }
  .section-one-item-one .section-one-item-one-header {
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 0.1px;
    line-height: 1.3;
    text-align: center;
  }

  .section-three-item-one .section-three-item-one-header {
    font-size: 1.4em !important;
    font-weight: bold;
    letter-spacing: 0.1px;
    line-height: 1.3;
    text-align: center;
  }
  .section-five-item-one .section-five-item-one-header {
    font-size: 1.4em !important;
    font-weight: bold;
    letter-spacing: 0.1px;
    line-height: 1.3;
    text-align: center;
  }

  .section-one-item-one .section-one-item-one-content {
    margin-top: 20px;
    font-weight: 400;
    font-size: 0.9em;
    color: #444;
    line-height: 1.4;
    text-align: justify;
    /* padding: 14px; */
  }

  .bulb-holder {
    position: relative;
    left: 0%;
  }

  /**homepage section-two here*/

  .homepage-container .homepage-section-two {
    display: block;
    margin-top: 45px;
    /* justify-content: flex-start; */
  }

  .homepage-container .homepage-section-two .section-two-item-one {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .homepage-container .homepage-section-two .section-two-item-two {
    /* border: 1px solid yellow; */
    margin-top: 35px;
    width: 100%;
  }
  .section-two-item-two > div {
    /* margin-top: 30px; */
    font-weight: 400;
    font-size: 0.9em;
    color: #444;
    line-height: 1.4;
    text-align: left;
    left: 0%;
    position: relative;
  }

  /* Idea-button on mobile */
  .idea-button {
    background: #000;
    outline: none;
    border: 0;
    cursor: pointer;
    width: 50%;
    padding: 13px 0px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 10px;
    color: #fdfdfd;
    position: relative;
    left: -5px;
    border-radius: 9px;
    word-spacing: 0.5px;
  }

  /* Section Three here */

  .homepage-container .homepage-section-three .section-three-item-one {
    /* border: 1px solid blue; */
    width: 100%;
  }

  .homepage-container .homepage-section-three {
    display: block;
    /* justify-content: flex-start; */
  }

  .section-three-item-one .section-three-item-one-header {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.1px;
    line-height: 1.3;
    text-align: center;
  }

  .section-three-item-one .section-three-item-one-content {
    margin-top: 10px;
    font-weight: 400;
    font-size: 0.9em;
    color: #444;
    line-height: 1.4;
    text-align: left;
    /* padding: 14px; */
  }

  /* Section Four */

  .homepage-section-four .section-four-item-one {
    display: block;
    /* justify-content: space-around; */
    width: 100%;
    /* flex-wrap: wrap; */
  }

  .section-four-item-one .black-card {
    /* border: 1px solid pink; */
    width: 100%;
    /* margin-right: 1%; */
    border-radius: 18%;
    height: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* text-align: center; */
    align-items: center;
    /* flex-grow: ; */
  }

  /* 
  ====================================
  SECTION FIVE STYLE HERE
  ====================================
  */

  .homepage-container .homepage-section-five {
    display: block;
    /* justify-content: flex-start; */
  }

  .homepage-container .homepage-section-five .section-five-item-one {
    /* border: 1px solid blue; */
    width: 100%;
  }
  .homepage-container .homepage-section-five .section-five-item-two {
    /* border: 1px solid yellow; */
    width: 100%;
  }
  .section-five-item-one .section-five-item-one-header {
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.1px;
    line-height: 1.3;
    text-align: center;
  }

  .section-five-item-one .section-five-item-one-content {
    margin-top: 20px;
    font-weight: 400;
    font-size: 0.9em;
    color: #444;
    line-height: 1.4;
    text-align: justify;
    /* padding: 14px; */
  }

  .company-button {
    background: #000;
    outline: none;
    border: 0;
    cursor: pointer;
    width: 50%;
    padding: 13px 0px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 10px;
    color: #fdfdfd;
    border-radius: 9px;
    word-spacing: 0.5px;
  }

  .section-five-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
  }

  /* Section 6 styles is here */

  .project-card-container {
    display: block;
    width: 100%;
  }

  .project-card-container .project-card {
    width: 100%;
    /* border: 1px solid #000; */
    /*margin-right: 24px;*/
    height: 400px;
    padding: 0;
    overflow: hidden;
    font-size: 0.9em;
    /* margin-top: 0; */
    /*border-radius: 18px;
    display: flex;
    align-items: center;
    
    padding-bottom: 20px;
    flex-direction: column;
    margin-bottom: 30px; */
  }

  .project-card .project-image {
    /* border: 1px solid blue; */
    /* margin-top: 30px; */
    margin-top: 0;
    height: 200px;
    width: 100%;
    /* max-width: 100%; */
    /* min-width: 100%; */
    border-radius: 9px;
    background-image: url("../../assets/green-track.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    cursor: pointer;
  }

  .project-name {
    border: 1px solid #000;
    margin-top: 15px;
    font-size: 12px;
  }

  .project-content {
    margin-top: 10px;
    display: flex;
    text-align: center;
    line-height: 1.5;
    color: #444;
    letter-spacing: 0.1px;
  }
}
